.form_container{
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    text-transform: capitalize;
}
.form_subcontainer{
    display: flex;
    width: 70%;
    height: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
}
.input_container{
    width: 60%;
}
.input{
    width: 100%;
    height: 30px;
    border: none;
    border: 2px solid rgb(127, 127, 230);
    border-radius: 5px;
}
.Field_name{
    align-self: flex-start;
    font-size: medium;
    margin: 1% 0 1% 20%;
}
.submit_btn{
    padding: 5px;
    margin-top: 4px;
    font-size: medium;
    width: 100%;
    border: none;
    background-color: lightblue;
    font-weight: bolder;
}